@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400&display=swap');
/* @import url('http://weloveiconfonts.com/api/?family=fontawesome'); */
[class*="fontawesome-"]:before {
    font-family: "fontawesome", sans-serif;
  }
body{
  scroll-behavior: smooth4;
}
* {
  font-family: 'Poppins', sans-serif;
}
hr{
  margin: 1rem 0px 0px 0px;
}
.link{
    cursor: pointer;
}
.note{
    margin: 20px 0;
    padding: 20px;
    background-color: #fff4a3;
}
.info{
    margin: 20px 0;
    padding: 20px;
    background-color: #d9eee1;
}
.benar{
    margin: 20px 0;
    padding: 20px;
    color: white;
    background-color: #17743b;
}
.salah{
    margin: 20px 0;
    padding: 20px;
    color: white;
    background-color: #b12424;
}
.mark{
    color: #de1472;
}
.code{
    padding: 20px;
    background-color: #212529;
    color: #fff;
    margin: 20px 0;
}
.t-red{
    color: red;
}
.t-blue{
    color: blue;
}
.t-green{
    color: green;
}
.sub {
  height: 30px;
}

/* Landing Page */
.buttons {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.buttons a {
  display: block;
  text-decoration: none;
  font-size: 20px;
  font-weight: 600;
  text-align: center;
  line-height: normal;

  margin: 15px 0 15px 0;
  width: 177px;
  padding: 9px 0px;
  border-radius: 200px;
}

.button-1 {
  background-color: #7EFDD0;
  color: black;
}
.button-2 {
  background-color: #ffed74;
  color: black;
}
.button-3 {
  background-color: #809bce;
  color: white;
}

.kartu {
  width: 388px;
  height: 448px;
  padding: 14px;
  border-radius: 10px;
  background-color: white;
}

.kartu .code{
  min-height: 300px;
}
/* Navbar */
.form-control {
    background-color: #e5e9f2;
    border: 0;
    border-radius: 100px !important;
    color: #34364a;
    font-size: 16px;
    font-weight: 500;
    outline: none;
    padding: 11px 20px
}


.most-searched-course,.most-searched-course-desktop,.tt-menu {
    background-color: #fff;
    border-radius: 8px;
    max-height: 340px;
    overflow-y: auto;
    position: absolute;
    top: 100px;
    width: 100%;
    z-index: 500
}

.most-searched-course-desktop::-webkit-scrollbar,.most-searched-course::-webkit-scrollbar,.tt-menu::-webkit-scrollbar {
    display: none;
    width: 0
}

@media(min-width: 768px) {
    .most-searched-course-desktop::-webkit-scrollbar,.most-searched-course::-webkit-scrollbar,.tt-menu::-webkit-scrollbar {
        display:block;
        width: 6px
    }
}

.most-searched-course-desktop::-webkit-scrollbar-thumb,.most-searched-course::-webkit-scrollbar-thumb,.tt-menu::-webkit-scrollbar-thumb {
    background: #e5e9f2;
    border-radius: 10px
}

.most-searched-course .course-content,.most-searched-course-desktop .course-content,.tt-menu .course-content {
    align-items: center;
    border-bottom: 1px solid #f6f8fd;
    cursor: pointer;
    display: flex;
    gap: 14px;
    padding: 10px;
    position: relative;
    transition: .1s ease-in-out
}

.most-searched-course .course-content.tt-cursor,.most-searched-course .course-content:hover,.most-searched-course-desktop .course-content.tt-cursor,.most-searched-course-desktop .course-content:hover,.tt-menu .course-content.tt-cursor,.tt-menu .course-content:hover {
    background: #f6f8fd
}

.most-searched-course .course-content .thumbnail,.most-searched-course-desktop .course-content .thumbnail,.tt-menu .course-content .thumbnail {
    height: 80px;
    width: 120px
}

.most-searched-course .course-content .thumbnail img,.most-searched-course-desktop .course-content .thumbnail img,.tt-menu .course-content .thumbnail img {
    border-radius: 8px;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    width: inherit
}

.most-searched-course .course-content .thumbnail.skeleton,.most-searched-course-desktop .course-content .thumbnail.skeleton,.tt-menu .course-content .thumbnail.skeleton {
    min-width: 120px
}

.most-searched-course .course-content .course-info,.most-searched-course-desktop .course-content .course-info,.tt-menu .course-content .course-info {
    max-width: 100%;
    width: 100%
}

.most-searched-course .course-content .course-title,.most-searched-course-desktop .course-content .course-title,.tt-menu .course-content .course-title {
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    color: #34364a;
    display: -webkit-box;
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    margin-bottom: 8px;
    max-width: 333px;
    overflow: hidden
}

@media screen and (max-width: 500px) {
    .most-searched-course .course-content .course-title,.most-searched-course-desktop .course-content .course-title,.tt-menu .course-content .course-title {
        font-size:14px
    }
}

.most-searched-course .course-content .course-title.skeleton,.most-searched-course-desktop .course-content .course-title.skeleton,.tt-menu .course-content .course-title.skeleton {
    height: 24px;
    width: 300px
}

.most-searched-course .course-content .course-title.skeleton.navbar,.most-searched-course-desktop .course-content .course-title.skeleton.navbar,.tt-menu .course-content .course-title.skeleton.navbar {
    width: 100%
}

@media screen and (max-width: 500px) {
    .most-searched-course .course-content .course-title.skeleton,.most-searched-course-desktop .course-content .course-title.skeleton,.tt-menu .course-content .course-title.skeleton {
        width:150px
    }
}

.most-searched-course .course-content .price,.most-searched-course-desktop .course-content .price,.tt-menu .course-content .price {
    align-items: center;
    color: #999aa4;
    display: flex;
    font-size: 14px;
    font-weight: 400;
    gap: 8px
}

@media screen and (max-width: 500px) {
    .most-searched-course .course-content .price,.most-searched-course-desktop .course-content .price,.tt-menu .course-content .price {
        font-size:12px
    }
}

.most-searched-course .course-content .price.skeleton,.most-searched-course-desktop .course-content .price.skeleton,.tt-menu .course-content .price.skeleton {
    height: 20px;
    width: 220px
}

.most-searched-course .course-content .price.skeleton.navbar,.most-searched-course-desktop .course-content .price.skeleton.navbar,.tt-menu .course-content .price.skeleton.navbar {
    width: 75%
}

@media screen and (max-width: 500px) {
    .most-searched-course .course-content .price.skeleton,.most-searched-course-desktop .course-content .price.skeleton,.tt-menu .course-content .price.skeleton {
        width:80px
    }
}

.most-searched-course .course-content .labelJoinedCourse,.most-searched-course-desktop .course-content .labelJoinedCourse,.tt-menu .course-content .labelJoinedCourse {
    padding: 4px 12px!important
}

.most-searched-course .course-content .labelJoinedCourse img,.most-searched-course-desktop .course-content .labelJoinedCourse img,.tt-menu .course-content .labelJoinedCourse img {
    height: 20px;
    width: 20px
}

.most-searched-course .course-content .labelJoinedCourse .__text,.most-searched-course-desktop .course-content .labelJoinedCourse .__text,.tt-menu .course-content .labelJoinedCourse .__text {
    font-size: 12px;
    line-height: 16px
}

.most-searched-course a.link,.most-searched-course-desktop a.link,.tt-menu a.link {
    color: #34364a;
    display: block;
    font-size: 14px;
    padding: 10px;
    text-align: center
}


.most-searched-course .course-content .course-title.skeleton,.most-searched-course .course-content .price.skeleton,.most-searched-course .course-content .thumbnail.skeleton,.most-searched-course-desktop .course-content .course-title.skeleton,.most-searched-course-desktop .course-content .price.skeleton,.most-searched-course-desktop .course-content .thumbnail.skeleton,.skeleton-animation,.skeleton-card .detail .title-skeleton,.skeleton-card .detail .type-skeleton,.skeleton-card .img-skeleton,.skeleton-card .skeleton-footer .icon-skeleton,.skeleton-card .skeleton-footer .stars-skeleton,.skeleton-card-mobile .content .info .price-tag,.skeleton-card-mobile .content .info .title-text,.skeleton-card-mobile .content .thumbnail,.skeleton-card-mobile .footer .left,.skeleton-card-mobile .footer .right,.tt-menu .course-content .course-title.skeleton,.tt-menu .course-content .price.skeleton,.tt-menu .course-content .thumbnail.skeleton {
    -webkit-animation: skeleton-loader .6s linear infinite alternate;
    animation: skeleton-loader .6s linear infinite alternate;
    border-radius: .25rem;
    opacity: .7
}

.skeleton-card {
    background: #fff;
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    gap: 24px
}

.skeleton-card .img-skeleton {
    background-color: #999aa4;
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
    height: 198px;
    width: 100%
}

.skeleton-card .detail {
    padding: 0 16px
}

.skeleton-card .detail .title-skeleton {
    background-color: #999aa4;
    height: 37px;
    margin-bottom: 8px;
    width: 100%
}

.skeleton-card .detail .type-skeleton {
    background-color: #999aa4;
    height: 24px;
    width: 35%
}

.skeleton-card .skeleton-footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 16px 16px
}

.skeleton-card .skeleton-footer .stars-skeleton {
    background-color: #999aa4;
    height: 24px;
    width: 40%
}

.skeleton-card .skeleton-footer .icon-skeleton {
    background-color: #999aa4;
    border-radius: 100px!important;
    height: 32px;
    width: 32px
}

.skeleton-card-mobile {
    background-color: #fff;
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    gap: 14px;
    overflow: hidden
}

.skeleton-card-mobile .content {
    align-items: center;
    display: flex;
    gap: 14px
}

.skeleton-card-mobile .content .thumbnail {
    height: 110px;
    width: 110px
}

.skeleton-card-mobile .content .info {
    padding: 14px 8px 0
}

.skeleton-card-mobile .content .info .title-text {
    height: 22px;
    width: 230px
}

.skeleton-card-mobile .content .info .price-tag {
    height: 16px;
    margin-top: 30px;
    width: 80px
}

.skeleton-card-mobile .footer {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 16px 20px
}

.skeleton-card-mobile .footer .left {
    height: 22px;
    width: 172px
}

.skeleton-card-mobile .footer .right {
    border-radius: 100px;
    height: 32px;
    width: 32px
}


.tt-hint,.tt-input,.tt-menu,.twitter-typeahead {
    width: 100%
}

.modal-content {
    border: none;
    border-radius: 16px
}

.modal-content .modal-header {
    background-color: #f6f8fd;
    border-radius: 16px 16px 0 0;
}

.follow-icon a{
  display: inline-block;
  margin: 0px 10px;
  height: 10px;
  color: #000;
  font-size: 40px;
}

.btn-secondary {
    background: #e5e9f2;
    border: 0;
    border-radius: 100px;
    color: #34364a;
    font-size: 16px;
    font-weight: 600;
    height: -webkit-fit-content!important;
    height: -moz-fit-content!important;
    height: fit-content!important;
    line-height: 24px;
    transition: all .4s;
    width: -webkit-fit-content!important;
    width: -moz-fit-content!important;
    width: fit-content!important;
}

.btn-secondary:focus,.btn-secondary:hover {
    background: #e5e9f2;
    border: 0;
    box-shadow: 10px 12px 20px 0 #e7ebf5;
    color: #34364a;
    transition: all .4s;
}

.btn-secondary.active {
    background-color: #34364a!important;
    color: #fff!important;
}
/* End Landing Page */

/* Tools */
.item-review {
    background: #fff;
    border-radius: 14px;
    margin-bottom: 40px;
    margin-right: 20px;
    padding: 30px;
}

.item-review .name {
    color: #34364a;
    font-size: 20px;
    margin-bottom: 0;
}

.item-review .role {
    color: #999aa4;
    font-size: 16px;
    font-weight: 300;
    margin-top: 4px;
}


.item-review .photo{
    border-radius: 100px;
    height: 70px;
    width: 70px
}


/* End Tools */

.dropdown-menu .dropdown-item {
  align-items: center;
  display: flex;
  /* min-width: 300px; */
  /* padding: 53px 33px 52px 34px!important; */
  min-width: -webkit-max-content;
  min-width: -moz-max-content;
  min-width: max-content;
  position: relative;
  transition: all .3s ease-in-out;
  white-space: normal !important;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: 100%;
}

.dd-item-list {
  min-width: max-content;
}

.dd-item-list a {
  display: block;
  width: 100%;
}

.dropdown-item {
  --padd: 10px;
  padding-top: var(--padd);
  padding-bottom: var(--padd);
}

.dropdown-item {
  --padd: 10px;
  padding-top: var(--padd);
  padding-bottom: var(--padd);
}

.dropdown-item a {
  text-decoration: none;
  color: var(--bs-nav-link-color);
  transition: all .3s ease-in-out;
}

.dropdown-item:hover a {
  text-decoration: none;
  color: var(--bs-navbar-active-color);
}

.dropdown-item:active {
    background-color: #c3c3c3!important;
}

.icon {
  width: 60px;
  margin-right: 20px;
}

.sub-navbar {
  position: fixed;
    padding: 0;
    width: 100%;
    white-space: nowrap;
    overflow: auto;
    overflow-y: hidden;
}

  .sub-nav{
    height: 100%;
    overflow-x: auto;
    overflow-y: hidden;
  }

  .sub-nav a{
    display: inline-block;
    text-decoration: none;
    color: #eaeaea;
    margin-right: -6px;
    font-size: 15px;
    padding: 3px 6px 6px 6px;
    transition: all .2s ease-in-out;
  }

  .sub-nav a.active, .sub-nav a.active:hover{
    color: #fafafa;
    background-color: #e35205;
  }

  .sub-nav a:hover{
    color: #f5f5f5;
    background-color: #000;
  }

  .sub-nav a.active:hover{
    color: #fafafa;
    background-color: #e35205;
  }

  .sidebar, .main {
    transition: all 0.3s ease-out;
    overflow-x: hidden;
    -webkit-overflow-scrolling: touch;
    position: absolute;
    top: 96px;
    bottom: 0;
  }

  .sidebar {
    overflow: scroll;
    overflow-x: hidden;
    width: 260px;
    background-color: #F9FAFC;
    left: 0;
  }

  .main {
    background-color: #f5f5f5;
    position: absolute;
    left: 260px;
    right: 0;
    padding: 20px;
  }

  .sidebar-header {
    background-color: #e2e2e2;
    color: #141414;
    margin: 0;
    padding: 0 20px;
    font-weight: 600;
    line-height: 2;
    text-transform: uppercase;
    font-size: 90%;
  }

  .toggle-menu {
    color: #fff;
    text-decoration: none;
    font-size: 50px;
    float: left;
    display: block;
    position: absolute;
    left: 0;
    z-index: -1;
    opacity: 0;
    transition: opacity 0.3s ease-out;
  }
  .toggle-menu:hover {
    color: #fff;
  }
  .toggle-menu:before {
    height: 64px;
    width: 64px;
    display: block;
    text-align: center;
    line-height: 64px;
    font-size: 24px;
  }

  .nav-side {
    display: flex;
    flex-direction: column;
  }

  .nav-side a {
    color: #222;
    background-color: #F9FAFC;
    margin-bottom: 1px;
    border-left: 10px solid transparent;
    transition: all .3s ease-in-out;
    text-decoration: none;
    display: block;
    width: 100%;
  }

  .nav-side a:hover, .nav-side .link:hover {
    color: #333;
    background-color: #e9e9e9;
  }

  .nav-side a.active {
    background-color: #e35205;
    color: #fff;
  }
    .contohmq1{
        background-color: dodgerblue;
    }
    .contohmq2{
        background-color: tomato;
    }
  .sidebar-mentor{
    position:fixed;
    /* margin-bottom: max(500px); */
  }
  .card-mentor .card img{
    height: 14rem;
    object-fit: cover;
    object-position: center;
  }

  .card-mentor .card a{
    text-decoration: none;
    color: black;
  }

  .card-mentor .card a.btn{
    text-decoration: none;
    color: white;
  }
  .card-title a {
    color: black;
  }

  @media all and (max-width: 1024px) {
    .sidebar-mentor {
        display: none;
    }
    .sidebar.toggled {
      left: 0;
      margin-top: 3px;
      z-index: 10;
      box-shadow: 3px 1px 10px rgba(0, 0, 0, 0.8);
    }
    .sidebar.toggled + .main {
      overflow: hidden;
    }

    .sidebar {
      left: -260px;
    }

    .main {
      margin-top: 3px;
      left: 0;
    }

    .toggle-menu {
      margin-left: 17px;
      margin-top: -20px;
      z-index: 1;
      opacity: 1;
    }
    .sub-nav {
      margin-left: 60px;
    }
}
@media screen and (max-width:720px){
    .contohmq1{
        background-color: tomato;
    }
    .contohmq2{
        background-color: dodgerblue;
    }
    .gbr1{
        display: none;
    }
    .main img{
        max-width: calc(100% - 15px);
    }
}
